body {
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: #0052A3;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #0052A3;
    color: white;
}